<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biblioteca - Vanguard</title>

    <link rel="stylesheet" type="text/css" href="../style/style_livros.css">
    
</head>
<body>
    <h2>Alterar Livro</h2>

    <form action="../controllers/UpdateBook.php" method="post">
        <label for="titulo">Título do Livro a ser Alterado:</label>
        <input type="text" id="titulo" name="titulo" required><br>

        <label for="novoTitulo">Novo Título:</label>
        <input type="text" id="novoTitulo" name="novoTitulo" required><br>

        <label for="novoAutor">Novo Autor:</label>
        <input type="text" id="novoAutor" name="novoAutor" required><br>

        <label for="novoAno">Novo Ano de Publicação:</label>
        <input type="number" id="novoAno" name="novoAno" required><br>

        <input type="submit" value="Alterar Livro">
    </form>
</body>
</html>
