<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biblioteca - Vanguard</title>

    <link rel="stylesheet" type="text/css" href="../style/style_livros.css">
    
</head>
<body>
    <h2>Excluir Livro</h2>

    <form action="../controllers/DelBook.php" method="post">
        <label for="titulo">Título do Livro:</label>
        <input type="text" id="titulo" name="titulo" required><br>

        <input type="submit" value="Excluir Livro">
    </form>
</body>
</html>
