<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biblioteca - Vanguard</title>

    <link rel="stylesheet" type="text/css" href="../style/style_livros.css">
    
</head>
<body>
    <h2>Buscar Livro</h2>

    <form action="../process_forms/ReadBook.php" method="post">
        <label for="termo">Termo de Busca:</label>
        <input type="text" id="termo" name="termo" required><br>

        <label for="tipoPesquisa">Tipo de Pesquisa:</label>
        <select id="tipoPesquisa" name="tipoPesquisa" required>
            <option value="titulo">Título</option>
            <option value="autor">Autor</option>
            <option value="ano">Ano de Publicação</option>
        </select><br>

        <input type="submit" value="Buscar Livro">
    </form>
</body>
</html>
